extends layout

block content
  h1.title Loading...

  ol(type='1', id='adsContainer')
    script(type='text/javascript', id='adsTemplate')
      li
        p ${name}
        a(href='${appStoreUrl}', onclick='return checkPlatform()')
          img(src='${imageUrl}')

  // Load jquery and jquery-template
  script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.4.js')
  script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js')

  script(type='text/javascript').

    // Detect platform and warn if not iOS
    function checkPlatform() {
      var iOS = /iPad|iPhone|iPod/.test(navigator.platform);
      if (!iOS)
        alert('Your device is not supported yet');
      return iOS;
    }

    // Get top ads
    $.ajax({url: '/top', success: function(ads) {

      // Render the ads using the template
      $('#adsTemplate').tmpl(ads).appendTo('#adsContainer');
      $('.title').append(' Done!');

    }, error: function () {
      $('.title').append(' Failed!');
    }});
